---
title: Lightbox Darkroom - Workshops and events
permalink: /learn/
layout: list
---

  <h1 class="content-title">Workshops & events</h1>
  <!-- {% assign events = site.data.calendar %} -->
  {% for event in site.data.calendar %} <!-- Get everything in the calendar file -->
    <h3>{{ event.month }}</h3> <!-- print the month -->
    <ul class="post-list events-list">
      <li class="post-list-item events-list-item">
        <div class="event-list-item-dateinfo">
          <span class="event-list-item-day">{{ event.day }}</span>
          <span class="event-list-item-date">{{ event.date }}</span>
          <span class="event-list-item-time">{{ event.event.time }}</span>
        </div>
        <a href="{{ event.event.link }}">
          <!-- <img src="{{ site.baseurl }}/assets/images/{{ event.event.image }}.jpg" alt="" /> -->
          <span>{{ event.event.title }}</span>
        </a>
        <strong>&pound;{{ event.event.price }} per person ({{ event.event.spaces }} spaces left)</strong>
        {% if event.event.spaces == 0 %}
          <button class="soldout">All booked up!</button>
          {% else event.event.spaces > 0 %}
          <button class="event-price-book"><a href="mailto:info@lightbox.photo?subject=Booking%20request:%20{{ event.date }}%20-%20{{ event.event.title }}">Request booking</a></button>
          {% endif %}
      </li>
    </ul>

  {% endfor %}


<p>More events to be announced later in the year. <a href="mailto:info@lightbox.photo">Email me</a> if you have a suggestion for a workshop.</p>
