---
title: Lightbox Darkroom - Blog posts
permalink: /blog/
layout: list
---

  <h1 class="content-title">Blog posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.tags contains 'blog' %}
        <li class="post-list-item">
          <a href="{{ post.url }}">
            <img src="{{ site.baseurl }}/assets/images/{{ post.heroimage }}.jpg" alt="" />
            <span>{{ post.title }}</span>
          </a>
          <p>{{ post.excerpt }}</p>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
