  {% include getintouch.html %}
  <footer class="footer-site">
    <p>&copy; {{ site.time | date: '%Y' }} Lightbox Darkroom. <b>Address:</b> West Kirby Arts Centre, 29 Brookfield Gardens, West Kirby CH48 4EL. <a href="https://goo.gl/maps/vzU4Jmw8bYu">View address on Google Maps > </a></p>
  </footer>
</main>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-88002206-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58387c6cb436715b"></script>
</body>
</html>
