<div class="cta-buy" id="buy">
  <img src="{{ baseurl }}/assets/images/cover-danking.jpg" alt="Dan King book" class="cta-buy--hero" />
  <h1>Exhibition booklet</h1>
  <h2>
    <button class="cta--button">
      <a class="button-buy" href="https://gum.co/lightbox_danking" target="_blank">
        Buy the booklet
      </a>
    </button>
    &pound;9 + postage and packaging
  </h2>
  <p>210mm x 210mm, 42-page colour booklet with an additional 21 images to accompany the 18 exhibition images. Purchasing this booklet will fund future exhibitions and gallery programmes.</p>

</div>
