<!DOCTYPE html>
<html
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Lightbox Darkroom - {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="http://lightbox.photo/assets/images/apple-touch-icon.png?v=XBrW5GoQ28">
    <link rel="icon" type="image/png" href="http://lightbox.photo/assets/images/favicon-32x32.png?v=XBrW5GoQ28" sizes="32x32">
    <link rel="icon" type="image/png" href="http://lightbox.photo/assets/images/favicon-16x16.png?v=XBrW5GoQ28" sizes="16x16">
    <link rel="manifest" href="http://lightbox.photo/assets/images/manifest.json?v=XBrW5GoQ28">
    <link rel="mask-icon" href="http://lightbox.photo/assets/images/safari-pinned-tab.svg?v=XBrW5GoQ28" color="#5bbad5">
    <link rel="shortcut icon" href="http://lightbox.photo/assets/images/favicon.ico?v=XBrW5GoQ28">
    <meta name="msapplication-config" content="http://lightbox.photo/assets/images/browserconfig.xml?v=XBrW5GoQ28">
    <meta name="theme-color" content="#ffffff">
    <!-- Facebook tags -->
    <meta property="og:image" content="http://www.lightbox.photo/assets/images/{{ page.heroimage }}.jpg"/>
    <meta property="og:image:width" content="760" />
    <meta property="og:image:height" content="" />
    <meta property="og:url" content="http://www.lightbox.photo{{ page.permalink }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />

    <!-- Scroll js -->
    <script type="text/javascript">
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 500);
              return false;
            }
          }
        });
      });
    </script>
    <!-- MC -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/eb0723c8dc0a1dccea67fc0d5/adff5b8ca158b011e2fa6e541.js");</script>
  </head>
  <body class="{{ page.layout }}">
    <main class="wrap-page">
  <header>
    <h1>
      <a href="/">
        {% if page.bgcolour == 'dark' %}
        <img src="{{ baseurl }}/assets/images/logo-lightbox-white2@3x.png" alt="Lightbox darkroom" />
        {% else %}
        <img src="{{ baseurl }}/assets/images/logo-lightbox@3x.png" alt="Lightbox darkroom" />
        {% endif %}
      </a>
    </h1>
    {% include navigation.html %}
  </header>
