<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="http://lightbox.photo/assets/images/apple-touch-icon.png?v=XBrW5GoQ28">
    <link rel="icon" type="image/png" href="http://lightbox.photo/assets/images/favicon-32x32.png?v=XBrW5GoQ28" sizes="32x32">
    <link rel="icon" type="image/png" href="http://lightbox.photo/assets/images/favicon-16x16.png?v=XBrW5GoQ28" sizes="16x16">
    <link rel="manifest" href="http://lightbox.photo/assets/images/manifest.json?v=XBrW5GoQ28">
    <link rel="mask-icon" href="http://lightbox.photo/assets/images/safari-pinned-tab.svg?v=XBrW5GoQ28" color="#5bbad5">
    <link rel="shortcut icon" href="http://lightbox.photo/assets/images/favicon.ico?v=XBrW5GoQ28">
    <meta name="msapplication-config" content="http://lightbox.photo/assets/images/browserconfig.xml?v=XBrW5GoQ28">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript">
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 500);
              return false;
            }
          }
        });
      });
    </script>

  </head>
  <body class="{{ page.layout }}">
    <main class="wrap-page">
  <header>
    <h1>
      <a href="/">
        {% if page.bgcolour == 'dark' %}
        <img src="{{ baseurl }}/assets/images/logo-lightbox-white@3x.png" alt="Lightbox darkroom" />
        {% else %}
        <img src="{{ baseurl }}/assets/images/logo-lightbox@3x.png" alt="Lightbox darkroom" />
        {% endif %}
      </a>
    </h1>
    {% include navigation.html %}
  </header>
