<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body class="{{ page.layout }}">
    <main class="wrap-page">
  <header>
      <h1><a href="/"><img src="{{ baseurl }}/assets/images/logo-lightbox@3x.png" alt="Lightbox darkroom" /></a></h1>
      {% include navigation.html %}
  </header>
