<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-link"><a href="/">Home</a></li>
    <!-- <li class="navigation-list-link"><a href="/gallery/">Gallery</a></li> -->
    <li class="navigation-list-link"><a href="/learn/">Workshops & Events</a></li>
    <li class="navigation-list-link"><a href="/darkroom-hire/">Darkroom hire</a></li>
    <li class="navigation-list-link"><a href="/blog/">Blog</a></li>
    <li class="navigation-list-link"><a href="/about/">About</a></li>
    <li class="navigation-list-link"><a href="#getintouch">Get in touch</a></li>
  </ul>
</nav>
