/* New homepage 1 Jul 17 */
.home-intro {
  clear: both;
  position: relative;
  padding: 20px 5px;
  margin: 25px 0 0;
  color: white;
  transform: rotate(-3deg);
  background-color: transparentize($black, 0.25);
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  p {
    font-size: 24px;
    line-height: 1.25;
    margin: 0;
    text-align: center;
    font-weight: 900;
  }
  .sticker {
    left: -160px;
    top: 0;
    @include mq(small-smartphone) {
      left: 25%;
      top: 150px;
      z-index: 1000;
    }
  }
  @include mq(small-smartphone) {
    padding: 1em;
    margin: 100px 0 0;
    p {
      font-size: 24px;
      // color: $black;
    }
    }

}
.cta-wrap {
  min-height: 100px;
  margin: 100px auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include mq(medium) {
    width: 105%;
    margin-left: -2.5%;
  }
  @include mq(small-smartphone) {
    display: block;
    overflow: visible;
    width: 100%;
    margin: 25px auto 100px !important;
  }
}
.cta-item {
  position: relative;
  float: left;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 47.5%;

  // height: 100%;
  background: white url(/assets/images/devereenlarger.jpg) center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid white;
  // text-align: center;
  // display: none;
  &:first-of-type {
    // margin-left: -15%;
  }
  &:nth-of-type(2) {
    // left: 30%;
  }
  &:nth-of-type(even) {
    margin-right: 0;
  }
  &:last-of-type {
    margin-right: 0;
    // right: -15%;
  }
  &.learn {
    background-image: url(/assets/images/devereenlarger.jpg);
    .cta-item--header {
      color: $black;
    }
  }
  &.create {
    background-image: url(/assets/images/wash.png);
    .cta-item--header {
      color: $black;
    }
  }
  &.gallery {
    background-image: url(/assets/images/gallery-grey.jpg);
    .cta-item--header {
      color: $black;
    }
  }
  &.latest {
    // background-image: url({{ site.baseurl }}/assets/images/photo-cameras.jpg);
  }
  @include mq(medium) {
    // width: 40%;
  }
  @include mq(small-smartphone) {
    float: none;
    width: 100%;
    margin: 0 0 20px;
    position: inherit;
    text-align: left;
    border: none;
    strong {
      display: block;
    }
  }
}
//
// .cta-item--header {
//   padding: 10px;
//   margin: 100px 20px 0;
//   color: white;
//   font-size: 28px;
//   font-weight: 300;
//   display: inline-block;
//
// }
.cta-item--link {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 325px;
  padding: 10px;
  strong {
    display: inline-block;
    background-color: transparentize($black,.05);
    padding: 5px 10px;
    @include mq(small-smartphone) {
      max-width: 85%;
    }
  }
}
.hero {
  width: 100%;
  margin-right: 0;
  background-image: url(/assets/images/workshop-portrait1.jpg);
  @include mq(small-smartphone) {
    padding-bottom: 25px;

  }
  .cta-item--link {
    @include mq(small-smartphone) {
      min-height: 100px;
    }
  }
  .sticker {
    @include mq(small-smartphone) {
      right: 0;
      top: 0;
      position: static;
      margin: -1em auto 1em;
    }
  }
}

// .cta-item--desc {
//   position: absolute;
//   // bottom: 0;
//   // margin: 200px 10px -20px;
//   background-color: transparentize($black,.05);
//   color: white;
//   overflow: hidden;
//
//   // height: 1.75em;
//   @include mq(medium) {
//     // margin-top: 220px;
//     strong {
//       display: block;
//     }
//   }
//   @include mq(small-smartphone) {
//     overflow: visible;
//     height: auto;
//   }
//   &:after {
//     content: " ...";
//   }
// }
