/* header nav */
.navigation  {
  float: right;
  padding-top: 45px;
}
.navigation-list-link {
  display: inline-block;
  margin: 0 0 0 1.5em;
  a:link, a:visited, a:hover, a:active {
    font-weight: 300;
  }
}
