/* header nav */
.navigation  {
  float: right;
  padding-top: 50px;
  @include mq(medium) {
    display: flex;
    width: 50%;
    padding-top: 0;
  }
  @include mq(small-smartphone) {
    float: none;
    width: auto;
    display: block;
  }
}
.navigation-list-link {
  display: inline-block;
  background-color: rgba(0,0,0,0.25);
  padding: .2em .5em;
  margin: 0 0 .15em 0;
  font-weight: 700;
  font-size: .9em;
  text-transform: uppercase;
  a:link, a:visited, a:hover, a:active {
    font-weight: 700;
  }
  a:link, a:visited {
    color: white;
  }
  a:hover, a:active {
    color: $red;
  }
  @include mq(medium) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    clear: left;
    float: none;
    padding-top: 0;
    padding-top: 100px;
  }
  .navigation-list-link {
    display: block;
    margin: 0 0 .5em 0;

    a:link, a:visited {
      color: $red;
    }
    a:hover, a:active {
      color: darken($red, 20%);
    }
   }

  }
