/* Payment page style */
.payment .content-page {
  @include mq(small-smartphone) {
    padding: 25px 15px;
    margin: 25px 0;
  }
}
.payment-device {
  margin: 25px 100px;
  @include mq(small-smartphone) {
    margin: 0;
  }
  button {
    background-color: darken($red, 20%);
    color: white;
    padding: 10px 15px;
    border-radius:4px;
    font-size: 24px;
    font-weight: 700;
    @include transition();
    &:hover {
      transform: scale(1.05);
      background-color: darken($red, 10%);
    }
    @include mq(small-smartphone) {
      margin: 0;
      width: 100%;
    }
  }
}
.payment-device--stripe {
  max-height: 30px;
  vertical-align: middle;
  opacity: 0.35;
  margin: 0 10px;
  @include mq(small-smartphone) {
    margin: 25px auto;
    display: block;
  }
}
