---
# main.scss
---

/* Imports */
@import "mixins";
@import "base";
@import "colours";
@import "navigation";
@import "cta_home";
@import "cta";
@import "events";
body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  padding: 25px 30px 0;

}
.wrap-page {
  // max-width: 740px;
  max-width: 960px;
  box-sizing: border-box;
  margin: 100px auto;

}

// Site bg image
.default, .list, .post, .page, .home {
 background: #fff url(/assets/images/photo1.jpg) 0 -400px no-repeat;
 background-attachment: fixed;
 background-size: cover;

 @include mq(small-smartphone) {
  // background-image: none;
  background-size: 500px;
  background-position: top center;
  background-attachment: local;
  }

}
.page {
  background-image: url(/assets/images/darkroom-safelight34.jpg);
}
.home {
  background: #fff url(/assets/images/bg-red-01.jpg) 0 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include mq(small-smartphone) {
   background-size: 500px;
   background-position: top center;
   background-attachment: local;
   }
}
.gallery {
  background-image: url(/assets/images/bg-gallery.png);
}
.sgabriel {
  background-image: url(/assets/images/exhibition-sgabriel.jpg);
}
.melmore {
  background-image: url(/assets/images/exhibition-melmore.jpg);
}
.pbromley {
  background-image: url(/assets/images/somme1.jpg);
}
.danking {
  background-image: url(/assets/images/danking1.jpg);
}
.nickwynne {
  background-image: url(/assets/images/nickwynne01.jpg);
}
.sixteen {
  background-image: url(/assets/images/sixteen01.jpg);
}
.sixbysix-launch {
  background-image: url(/assets/images/sixbysix-launch-hero.jpg);
}
.berlin {
  background-image: url(/assets/images/berlin.jpg);

}
header {
  position: relative;
}
header:after {

  content: "";
  display: table;
  clear: both;

}

header h1 {
  // margin-bottom: 100px;
  float: left;
  max-width: 112px;
  img {
    max-width: 112px;
  }
}
strong {
  font-weight: 600;
}
h2 {
  font-size: 20px;
  margin: 2.5em 0 0;
}
p {
  margin: 0 0 2em;
}
ul {
  margin-bottom: 2.5em;
}
a:link, a:visited {
  color: $red;
  font-weight: 600;
}
a:hover, a:active {
  color: darken($red, 20%)
}
.footer-site {
  margin: 100px 0;
  padding-top: 50px;
  background: transparent url({{ site.baseurl }}/assets/images/logobreak@3x.png) 0 0 no-repeat;
  background-size: 112px;
  p {
    font-size: 16px;
    @include mq(small-smartphone) {
      b {
        display: block;
        margin-top: 25px;
      }
      a {
        display: block;
      }
    }
  }
  @include mq(small-smartphone) {
    margin: 25px 0;
  }
}

.photo img {
  max-width: 100%;
}

/* Post styles */
.addthis_inline_share_toolbox {
  margin: 50px 0 75px;
}
.post-list {
  // margin-bottom: 100px;

  a:link span, a:visited span {
    border-bottom: 1px solid lighten($red, 20%);
  }

  a {
    font-size: 24px;
    img {
      float: left;
      max-width: 150px;
      margin: 0 1em 2em 0;
    }
  }
}
.post-list-item {
  clear: left;

}
.post-title {
  font-size: 36px;
}
.page-list, .content {
  background-color: white;
  padding: 100px;
  margin-top: 50px;
  @include mq(small-smartphone) {
    padding: 0;
    margin-top: 5em;
    }

}
.content {
  margin-top: 2em;

  a
    {
    &:link[href*="#banner"], &:visited[href*="#banner"] {
    border-bottom: none;
  }
}

  @include mq(small-smartphone) {
    margin-top: 5em;
    }
  h1 {
    margin: 0 0 1em;
  }

  a:link, a:visited {
    border-bottom: 1px solid lighten($red, 20%);
  }
  ul {
    margin: 1em 0;
    li {
      margin: 0 1.5em 1em;
      &:before {
        content: "\2022";
        float: left;
        text-align: right;
        margin: -1px 0 0 -2.5em;
        width: 2em;
        font-size: 24px;
        color: $red;
      }
    }
  }
  ul.nobullets {
    list-style-type: none;
    li {
      margin: 0 1.5em 0;
      &:before {
        // content: none;
        // float: none;
      }
    }

  }
  h2 {
    font-size: 24px;
    margin-bottom: 1em;
  }
  h3 {
    color: #777;
  }
  h4 {
    color: darken($red, 40%);
  }
  .alignleft {
    text-align: left;
  }
  .aligncenter {
    text-align: center;
  }
  .note {
    color: $red;
    font-weight: 900;
  }
}
.highlight-inline {
  background-color: lighten($red,25%);
  padding: 0 .25em;
}
.content-title {
  font-size: 36px;
  margin: 0 0 1em;
}

.backtotop {
  text-transform: uppercase;
  font-size: 14px;
  margin: 2em 0 1em;
  position: relative;

  &:before {
    content: "^";
    width: 25px;
    position: absolute;
    left: -15px;
    top: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: $red;
  }
}

/* Event styles */
.events-list-item {
  a {
    display: block;
  }
  p {
    margin: .5em 0 4em;
  }
}
.event-list-item-dateinfo {
  display: block;
  background-color: $black;
  color: white;
  width: 140px;
  float: left;
  text-align: center;
  padding: 1.25em .25em;
  margin: 0 1em 0 0;
  span {
    display: block;
    text-transform: uppercase;
  }
  @include mq(small-smartphone) {
    width: 100%;
    float: none;
    margin-bottom: .5em;
  }
}
.events-list-item-exhibition .event-list-item-dateinfo {
  background-color: $red;
}
.event-list-month {
  margin: 0 0 1em;
  color: $grey;
}
.event-list-item-day, .event-list-item-time {
  font-size: 14px;
  font-weight: 500;
}
.event-list-item-time {
  letter-spacing: 1px;
}
.event-list-item-date {
  font-weight: 700;
}
.event-date {
  font-size: 24px;
  margin-bottom: 1em;
}
.event-price {
  font-weight: 300;
  font-style: normal;
  margin-left: .5em;
}
.event-type {
  text-transform: uppercase;
  font-size: 14px;
}
.event-enddate {
  font-style: normal;
  display: block;
}
.event-price-book {
  background-color: darken($red, 20%);
  font-weight: 700;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  padding: .25em .75em;
  margin-right: .5em;
  text-transform: uppercase;
  a:link, a:visited, a:hover, a:active {
    color: white;
    border-bottom: none;
  }
  &:hover {
  background-color: darken($red, 30%);
  }
  @include mq(small-smartphone) {
    display: block;
  }
}
.events-list-item .event-price-book {
  display: block;
}
.events-list-item .event-price-book a {
    font-size: 18px !important;
}
.soldout {
  display: block;
  background-color: lighten($black,80%);
  font-weight: 700;
  color: lighten($black,60%);
  border-radius: 4px;
  padding: .25em .75em;
  margin-right: .5em;
  text-transform: uppercase;

}

/* Hire page */
.page .post-title + p {
  font-weight: 700;
}
.schedule {
  min-height: 750px;
  margin-bottom: 4em;
}

/* Instagram embed */

/* page template (currently only used for Darkroom Hire page) */
.content-page {
  padding: 100px 0;
  > h1, > h2, > h3, > ul, > ol, > p, iframe, blockquote, .timetable-wrap, .addthis_inline_share_toolbox {
    margin-left: 100px;
    margin-right: 100px;
    @include mq(small-smartphone) {
      margin-left: 0;
      margin-right: 0;
      }
  }
  @include mq(small-smartphone) {
    padding-bottom: 0;
    padding-top: 0;
    }

}
.quote {
  margin-top: 3em;
}
.quote-quote {
  font-size: 36px;
  font-weight: 300;
  color: $red;
  margin: 0;
  position: relative;
  @include mq(small-smartphone) {
    font-size: 28px;
  }

  &:before {
    font-weight: 700;
    content: "\201C";
    position: absolute;
    left: -.65em;
    font-size: 42px;
    // margin-right: 5px;
  }
  &:after {
    content: "\201D";
    font-weight: 700;
    font-size: 42px;
  }
}
.quote-attribution p {
  margin-top: .5em;
  color: $grey;
  &:before {
    content: "— ";
  }
}
.quote + p {
  font-weight: 700;
}
/* Darkroom timetable */
.timetable-wrap {
  overflow-x: auto;
}
.timetable {
  border: 5px solid $red;
  border-collapse: collapse;
  text-align: left;
  margin: 1em 0;
  width: 100%;

  th,td {
    border: 1px solid $red;
    padding: .2em .5em;
    width: 25%;
  }
  td {
    font-weight: 300;
  }
}
/* footnote */
.footnote {
  font-size: 16px;
}
.footnote-symbol {
  color: $red;
  font-weight: 900;
}
/* Hightlight section */
.highlight {
  background-color: $black;
  padding: 25px 100px 50px;
  color: white;
  @include mq(small-smartphone) {
    padding: 25px 25px 50px;
  }
  .highlight-title {
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul li {
    margin-bottom: .25em;
  }
}
.page .highlight-title + p {
  font-weight: 700;
}
.highlight-light {
  background-color: lighten($red, 25%);
  color: $black;
}

.cta-buy {
  padding: 2em;
  background-color: lighten($grey,30%);
  border: 1px solid lighten($grey,25%);
  // background-image: url({{ site.baseurl }}/assets/images/book-danking1.jpg);
  // background-position: center center;
  // background-size: cover;
  h2 {
    margin-top: 1em;
  }
  .cta--button {
    // float: right;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}
.cta-buy--hero {
  display: block;
  float: left;
  max-width: 45%;
  margin: 0 1em 2em 0;
  @include mq(smartphone) {
    float: none;
    max-width: 100%;
    margin: 0 0 1em;
  }
}

/* Sticker */
.cta-exhibition {
  position: relative;
}

.sticker {
  position: absolute;
  right: 10px;
  top: -35px;
  background-color: white;
  color: $red;
  border: 5px solid $red;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  padding: 0;
  -ms-transform: rotate(7.5deg); /* IE 9 */
  -webkit-transform: rotate(7.5deg); /* Chrome, Safari, Opera */
  transform: rotate(7.5deg);
  @include transition();

  @include mq(lower-medium) {
    // left: -20px;
    // top: -90px;
  }
  @include mq(small-smartphone) {
    right: -10px;
  }
  &:hover {
    transform: scale(1.05);
  }
}
.sticker-content {
  height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 16px;
  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a {
      display: block;
    }
  }
}
/* Membership CTA */

.membership-cta-wrap {
  padding: 25px 100px 50px;
  display: flex;
  @include mq(small-smartphone) {
    padding: 0;
    display: block;
  }

}
.membership-cta {
  width: 45%;
  &:first-of-type {
    margin-right: 10%;
  }
  background-color: lighten($red,20%);
  @include mq(small-smartphone) {
    width: 100%;
    &:first-of-type {
      margin-right: 0;
    }
  }

}
.membership-cta-title {
  background-color: $red;
  color: white;
  padding: .5em 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
}
.membership-cta-list {
  padding: .5em 15px;
  font-weight: 700;
}
.membership-cta-book {
  width: 100%;
  a {display: block;
    margin: 0 15px;
    background-color: $red;
    padding: 1em;
    color: white;
    font-weight: 700;
  }
}
.membership-cta-footnote {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

/* Confirm page highlight */
.confirm {
  background-color: $red;
  padding: 1.5em 1.5em .5em;
  color: white;
  h1 {
    font-size: 28px;
  }
  p {
    font-weight: 500;

  }
}
/* Gallery page 'sign' styles */
.sign {
    float: left;
    color: white;
    font-weight: 900;
    width: 140px;
    height: 140px;
    text-align: center;
    background-color: $red;
    border-radius: 100%;
    margin-top: -150px;
    position: relative;
    left: -30px;
    transform: rotate(-11deg);
    @include mq(small-smartphone) {
      left: inherit;
      right: 0 !important;
      float: right;
    }
    span {
      position: absolute;
      display: block;
      left: 15px;
      top: 70px;
      transform: translateY(-50%);
      width: 110px;
    }
}
/* Standard cta button - first used on gift voucher blog post */
.cta--button {
  background-color: darken($red, 20%);
  border: none;
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  padding: .25em .75em;
  margin-right: .5em;
  text-transform: uppercase;
  a:link, a:visited, a:hover, a:active {
    color: white;
    border-bottom: none;
  }
  &:hover {
  background-color: darken($red, 30%);
  }
  @include mq(small-smartphone) {
    display: block;
    width: 100%;
  }
}

/* Old school media queries */

@media screen and (max-width: 480px) {
  body {
    font-size: 18px;
  }
  .wrap-page {
    margin: 75px auto;
  }
  header h1 {
    // margin-bottom: 75px;
  }

  .post-list a img {
    max-width: 100%;
    float: none;
    margin: 0 0 1em;
  }
  .post-title {
    font-size: 24px;
  }
  .navigation-list-link {
    background-color: lighten($red, 28%);
  }
}
