---
# main.scss
---

/* Imports */
@import "base";
@import "navigation";
@import "mixins";

/* Variables */
$red: #f66d6d;
$black: #222;
$grey: lighten($black, 50%);
$blue: #2857CB;

body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  padding: 25px 30px 0;

}
.wrap-page {
  // max-width: 740px;
  max-width: 960px;
  box-sizing: border-box;
  margin: 100px auto;

}

// Site bg image
.default, .list, .post, .page {
 background: #fff url(/assets/images/darkroom-safelight-wide-large.jpg) 0 -400px no-repeat;
 background-attachment: fixed;
 background-size: cover;

 @include mq(small-smartphone) {
  // background-image: none;
  background-size: 500px;
  background-position: top center;
  background-attachment: local;
  }

}

header:after {

  content: "";
  display: table;
  clear: both;

}

header h1 {
  margin-bottom: 100px;
  float: left;
  max-width: 112px;
  img {
    max-width: 112px;
  }
}
strong {
  font-weight: 600;
}
h2 {
  font-size: 20px;
  margin: 2.5em 0 0;
}
p {
  margin: 0 0 2em;
}
ul {
  margin-bottom: 2.5em;
}
a:link, a:visited {
  color: $red;
  font-weight: 600;
}
a:hover, a:active {
  color: darken($red, 20%)
}
.footer-site {
  margin: 100px 0;
  padding-top: 50px;
  background: transparent url({{ site.baseurl }}/assets/images/logobreak@3x.png) 0 0 no-repeat;
  background-size: 112px;
  p {
    font-size: 16px;
  }
}
.cta {
  background-color: white;
  border: 5px solid $red;
  box-sizing: border-box;
  padding: 10px 2em;
  font-weight: 400;
  margin: 50px 0;

  h1 {
    font-size: 36px;
    margin: 1em 0 1em;
    color: $red;
  }
}
.photo img {
  max-width: 100%;
}

/* Post styles */
.addthis_inline_share_toolbox {
  margin: 50px 0 75px;
}
.post-list {
  margin-bottom: 100px;

  a:link span, a:visited span {
    border-bottom: 1px solid lighten($red, 20%);
  }

  a {
    font-size: 24px;
    img {
      float: left;
      max-width: 150px;
      margin: 0 1em 2em 0;
    }
  }
}
.post-list-item {
  clear: left;

}
.post-title {
  font-size: 36px;
}
.page-list, .content {
  position: relative;
  background-color: white;
  padding: 100px;
  margin-top: 0;
  @include mq(small-smartphone) {
    padding: 0;
    }

}
.content {
  margin-top: 2em;

  h1 {
    margin: 0 0 1em;
  }

  a:link, a:visited {
    border-bottom: 1px solid lighten($red, 20%);
  }
  ul {
    margin: 1em 0;
    li {
      margin: 0 1.5em 1em;
      &:before {
        content: "\2022";
        float: left;
        text-align: right;
        margin: -1px 0 0 -2.5em;
        width: 2em;
        font-size: 24px;
        color: $red;
      }
    }
  }
  h2 {
    font-size: 24px;
  }
}
.content-title {
  font-size: 36px;
  margin: 0 0 1em;
}
/* Event styles */
.events-list-item {
  a {
    display: block;
  }
  p {
    margin: .5em 0 4em;
  }
}
.event-list-item-dateinfo {
  display: block;
  background-color: $black;
  color: white;
  width: 150px;
  float: left;
  text-align: center;
  padding: 1.25em .25em;
  margin: 0 1em 0 0;
  span {
    display: block;
    text-transform: uppercase;
  }
}
.event-list-item-day, .event-list-item-time {
  font-size: 14px;
  font-weight: 500;
}
.event-list-item-time {
  letter-spacing: 1px;
}
.event-list-item-date {
  font-weight: 700;
}
.event-date {
  font-size: 24px;
  margin-bottom: 1em;
}
.event-price {
  font-weight: 300;
  font-style: normal;
  margin-left: .5em;
}
.event-price-book {
  background-color: darken($red, 20%);
  font-weight: 700;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  padding: .25em .75em;
  margin-right: .5em;
  text-transform: uppercase;
  a:link, a:visited, a:hover, a:active {
    color: white;
    border-bottom: none;
  }
  &:hover {
  background-color: darken($red, 30%);
  }
  @include mq(small-smartphone) {
    display: block;
  }
}

/* Hire page */
.page .post-title + p {
  font-weight: 700;
}
.schedule {
  min-height: 750px;
  margin-bottom: 4em;
}

/* Instagram embed */

/* page template (currently only used for Darkroom Hire page) */
.content-page {
  padding: 100px 0;
  > h1, > h2, > h3, > ul, > ol, > p, iframe, blockquote, .timetable-wrap, .addthis_inline_share_toolbox {
    margin-left: 100px;
    margin-right: 100px;
    @include mq(small-smartphone) {
      margin-left: 0;
      margin-right: 0;
      }
  }
  @include mq(small-smartphone) {
    padding-bottom: 0;
    padding-top: 0;
    }

}
.quote {
  margin-top: 3em;
}
.quote-quote {
  font-size: 36px;
  font-weight: 300;
  color: $red;
  margin: 0;
  position: relative;
  @include mq(small-smartphone) {
    font-size: 28px;
  }

  &:before {
    font-weight: 700;
    content: "\201C";
    position: absolute;
    left: -.65em;
    font-size: 42px;
    // margin-right: 5px;
  }
  &:after {
    content: "\201D";
    font-weight: 700;
    font-size: 42px;
  }
}
.quote-attribution p {
  margin-top: .5em;
  color: $grey;
  &:before {
    content: "— ";
  }
}
.quote + p {
  font-weight: 700;
}
/* Darkroom timetable */
.timetable {
  border: 5px solid $red;
  border-collapse: collapse;
  text-align: left;
  margin: 1em 0;
  width: 100%;
  th,td {
    border: 1px solid $red;
    padding: .2em .5em;
    width: 25%;
  }
  td {
    font-weight: 300;
  }
}
/* footnote */
.footnote {
  font-size: 16px;
}
.footnote-symbol {
  color: $red;
}
/* Hightlight section */
.highlight {
  background-color: $black;
  padding: 25px 100px 50px;
  color: white;
  @include mq(small-smartphone) {
    padding: 25px 25px 50px;
  }
  .highlight-title {
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul li {
    margin-bottom: .25em;
  }
}
.page .highlight-title + p {
  font-weight: 700;
}
.highlight-light {
  background-color: lighten($red, 25%);
  color: $black;
}
/* Sticker */
.sticker {
  position: absolute;
  left: -95px;
  top: 40px;
  background-color: white;
  color: $red;
  border: 5px solid $red;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  overflow: hidden;
  text-align: center;
  padding: 40px 20px 0;
  -ms-transform: rotate(-11deg); /* IE 9 */
  -webkit-transform: rotate(-11deg); /* Chrome, Safari, Opera */
  transform: rotate(-11deg);

  @include mq(lower-medium) {
    left: -20px;
    top: -90px;
  }

  @include mq(small-smartphone) {
    left: 140px;
    top: -575px;
  }


}

/* Old school media queries */

@media screen and (max-width: 480px) {
  body {
    font-size: 18px;
  }
  .wrap-page {
    margin: 75px auto;
  }
  header h1 {
    margin-bottom: 75px;
  }
  .cta {
    padding: 10px 20px;
  }
  .cta  h1 {
    font-size: 30px;
  }
  .post-list a img {
    max-width: 100%;
    float: none;
    margin: 0 0 1em;
  }
  .post-title {
    font-size: 24px;
  }
  .navigation-list-link {
    background-color: lighten($red, 28%);
  }
}
