---
# main.scss
---

/* Imports */
@import "base";
@import "navigation";

/* Variables */
$red: #f66d6d;
$black: #222;


body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  padding: 25px 30px 0;

}
.wrap-page {
  max-width: 740px;
  margin: 100px auto;
}
header:after {

  content: "";
  display: table;
  clear: both;

}
header h1 {
  margin-bottom: 100px;
  float: left;
  max-width: 112px;
  img {
    max-width: 112px;
  }
}
strong {
  font-weight: 600;
}
h2 {
  font-size: 20px;
  margin: 2.5em 0 0;
}
p {
  margin: 0 0 2em;
}
ul {
  margin-bottom: 2.5em;
}
a:link, a:visited {
  color: $red;
  font-weight: 600;
}
a:hover, a:active {
  color: darken($red, 20%)
}
footer {
  margin: 100px 0;
  padding-top: 50px;
  background: #fff url({{ site.baseurl }}/assets/images/logobreak@3x.png) 0 0 no-repeat;
  background-size: 112px;
  p {
    font-size: 16px;
  }
}
.cta {
  background-color: white;
  border: 10px solid $red;
  box-sizing: border-box;
  padding: 10px 2em;
  font-weight: 400;
  h1 {
    font-size: 36px;
    margin: 1em 0 1em;
    color: $red;
  }
}
.photo img {
  max-width: 100%;
}

/* Post styles */
.addthis_inline_share_toolbox {
  margin: 50px 0 75px;
}
.post-list {
  margin-bottom: 100px;
  a {
    font-size: 24px;
    img {
      float: left;
      max-width: 150px;
      margin: 0 1em 2em 0;
    }
  }
}
.post-list-item {
  clear: left;

}
.post-title {
  font-size: 36px;
}
.content {
  ul {
    margin: 1em 0;
    li {
      margin: 0 1.5em 1em;
      &:before {
        content: "\2022";
        float: left;
        text-align: right;
        margin: -1px 0 0 -2.5em;
        width: 2em;
        font-size: 24px;
        color: $red;
      }
    }
  }
  h2 {
    font-size: 24px;
  }
}

/* Old school media queries */

@media screen and (max-width: 500px) {
  body {
    font-size: 18px;
  }
  .wrap-page {
    margin: 75px auto;
  }
  header h1 {
    margin-bottom: 75px;
  }
  .cta {
    padding: 10px 20px;
  }
  .cta  h1 {
    font-size: 30px;
  }
}
