---
title: Lightbox darkroom - workshops, classes, and events
layout: list
---

  <h1 class="content-title">Workshops, classes, and events</h1>

    <ul class="post-list events-list">
      {% for post in site.posts reversed %}
      {% if post.tags contains 'event' %}
        <li class="post-list-item events-list-item">
          <div class="event-list-item-dateinfo">
            <span class="event-list-item-day">{{ post.eventday }}</span>
            <span class="event-list-item-date">{{ post.eventdate }}</span>
            <span class="event-list-item-time">{{ post.eventtime }}</span>
          </div>
          <a href="{{ post.url }}"><span>{{ post.title }}</span></a>
          <span>{{ post.eventprice }}</span>
          <p>{{ post.excerpt }}</p>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
