    {% include header.html %}

    <div class="home-intro">
      {{ content }}
      <!-- {% include sticker.html %} -->
    </div>

        <section class="cta-wrap">
            <aside class="cta-item learn">
              <a class="cta-item--link" href="/learn">
                <strong>Join a workshop</strong>
              </a>
            </aside>
          </a>
          <aside class="cta-item create">
            <a class="cta-item--link" href="/darkroom-hire">
              <strong>Hire the darkroom</strong>
            </a>
          </aside>

          {% assign post = site.posts.first %}
          <aside class="cta-item latest" style="background-image: url({{ site.baseurl }}/assets/images/{{ post.heroimage }}.jpg)">
            <a class="cta-item--link" href="{{ post.url }}">
              <strong>
                {{ post.title }}
              </strong>
            </a>
          </aside>
          {% assign post = site.posts.last %}
          <aside class="cta-item latest" style="background-image: url({{ site.baseurl }}/assets/images/{{ post.heroimage }}.jpg)">
              <a class="cta-item--link" href="{{ post.url }}">
                <strong>
                {{ post.title }}
                </strong>
              </a>
          </aside>

        </section>

    {% include footer.html %}
