    {% include header.html %}
      <article class="content content-page">
        <h1 class="post-title">{{ page.title }}</h1>
        <!-- <p class="photo"><img src="{{ site.baseurl }}/assets/images/{{ page.heroimage }}.jpg" alt="" /></p> -->
        {{ content }}

{% if page.paymentrequest == true %}
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <aside class="payment-device">

    <button
      id="checkout-button-{{ page.sku }}"
      role="link"
      type="button"
    >
      Pay £{{ page.price }} booking now
    </button>
        <img src="{{ baseurl }}/assets/images/logo-stripe.png" class="payment-device--stripe" alt="Powered by Stripe" />
    <div id="error-message"></div>
    </aside>

    <script>
    (function() {
      var stripe = Stripe('pk_test_5xNHxZLFcgol6dLmFRw4ibRG');

      var checkoutButton = document.getElementById('checkout-button-{{ page.sku }}');
      checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
          lineItems: [{price: '{{ page.sku }}', quantity: 1}],
          mode: 'payment',
          // Do not rely on the redirect to the successUrl for fulfilling
          // purchases, customers may not always reach the success_url after
          // a successful payment.
          // Instead use one of the strategies described in
          // https://stripe.com/docs/payments/checkout/fulfill-orders
          successUrl: 'http://lightbox.photo/thanks',
          cancelUrl: 'http://lightbox.photo/canceled',
        })
        .then(function (result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });
      });
    })();
    </script>

    <h2>Booking details</h2>
    <p>Your booking is only confirmed once you've paid. I'm at liberty to give the booking to someone else if you haven't paid for a few weeks and not responded to emails.</p>
    <p>If a booking is cancelled up to 7 days before the workshop date, you will receive a full refund.</p>

    <h3>COVID-19</h3>
    <p>We expect rules to be relaxed enough to allow these dates to go ahead in the new year. However, we reserve the right to change the dates if lockdown rules dictate. The usual precautions must be taken on the day and will be communicated separatly should you make a booking.</p>

{% endif %}
      </article>
    {% include footer.html %}
